# Dependency directories
bower_components
node_modules
jspm_packages
dist

# Logs
logs
*.log
npm-debug.log*

#System files
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Caches
.sass-cache